@charset "UTF-8";

.goods-detail-top .round,.transparent .header-l a,.transparent .header-r a {
    width: 1.35rem;
    height: 1.35rem;
    margin: .2775rem;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#BFFFFFFF', endColorstr='#BFFFFFFF');
    background: rgba(255,255,255,.75);
    border: .05rem solid #EEE;
    border-radius: 100%
}

.transparent .header-l a i.back {
    width: 60%;
    height: 60%;
    color: #ff6700;
    font-size: 1.2rem;
    opacity: 1
}

.transparent .header-r a {
    margin: .2875rem .55rem;
    padding: 0;
    border-radius: 100%
}

.transparent .header-r a i.more {
    width: 60%;
    height: 60%;
    margin: 20%;
    background-image: url(../images/more_r.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    opacity: 1
}

.goods-detail-cnt {
    background: #F5F5F5;
    position: relative;
    z-index: 1;
    margin-top: 16rem
}

.goods-detail-top {
    background-color: #FFF;
    display: block;
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0
}

.goods-detail-pic {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 16rem;
    margin: 0 auto
}

.goods-detail-pic ul {
    overflow: hidden;
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.goods-detail-pic ul li {
    display: inline-block;
    position: relative;
    z-index: auto
}

.goods-detail-pic ul li img {
    width: 100%;
    height: 100%
}

.goods-detail-turn {
    position: absolute;
    z-index: 2;
    bottom: .5rem;
    left: 50%;
    width: 6rem;
    margin-left: -3rem;
    text-align: center
}

.goods-detail-turn ul {
    font-size: 0;
    margin: 0 auto;
    white-space: nowrap
}

.goods-detail-turn ul li {
    display: inline-block;
    width: .35rem;
    height: .35rem;
    margin-right: .25rem;
    background-color: #BBB;
    border-radius: 100%
}

.goods-detail-turn ul li.cur {
    background-color: #ff6700
}

.goods-detail-top .round {
    margin: 0;
    position: absolute;
    z-index: 2;
    bottom: .75rem;
    right: .75rem
}

.goods-detail-top .round i {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    opacity: .75
}

.goods-detail-top .pd-collect {
    right: .75rem
}

.goods-detail-top .round.pd-collect i {
    background-image: url(../images/favorite_r.png)
}

.goods-detail-top .round.pd-collect.favorite i {
    background-image: url(../images/favorite_rs.png)
}

.goods-puzzle,.goods-puzzle .puzzle-title {
    position: absolute;
    background: #ff4342;
    left: 0
}

.goods-puzzle {
    right: 0;
    bottom: 0;
    height: 1.6rem;
    padding: .35rem .4rem;
    z-index: 999
}

.goods-puzzle .puzzle-title {
    font-size: .5rem;
    line-height: .8rem;
    padding: .1rem .2rem 0;
    color: #fff;
    width: 3rem;
    text-align: center;
    bottom: 2.3rem;
    border-top-right-radius: .2rem
}

.goods-puzzle .puzzle-price {
    float: left;
    width: 50%;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: .5rem;
    color: #fff
}

.goods-puzzle .puzzle-price em {
    font-size: .8rem;
    font-weight: 600;
    margin-left: .1rem
}

.goods-puzzle .puzzle-count {
    float: right;
    color: #fff;
    width: 50%;
    height: 1.6rem;
    text-align: right
}

.goods-puzzle .puzzle-count .count-text {
    line-height: .8rem;
    font-size: .6rem
}

.goods-puzzle .puzzle-count .count-time {
    line-height: .8rem;
    font-size: .55rem
}

.goods-puzzle .puzzle-count .count-time em {
    background: #fff;
    color: #ED5564;
    display: inline-block;
    min-width: .6rem;
    max-width: 1.3rem;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    border-radius: .1rem;
    margin: 0 .2rem;
    padding: 0 .1rem;
    font-size: .45rem;
    margin-top: .05rem;
    font-weight: 600
}

.goods-puzzle .puzzle-count .count-time em:last-child {
    margin-right: 0
}

.goods-detail-top .puzzle-collect {
    bottom: 2.9rem
}

.puzzle-turn {
    bottom: 2.6rem
}

.puzzle-button {
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: .2rem;
    border-top: .05rem #eee solid;
    height: 1.6rem
}

.puzzle-button .invite-btn,.puzzle-button .order-btn {
    width: 48%;
    font-size: .4rem;
    display: inline-block;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-top: .05rem;
    text-align: center
}

.puzzle-button .invite-btn {
    color: #EC5464;
    background: #fff;
    border-radius: .2rem;
    border: .05rem solid #EC5464
}

.puzzle-button .order-btn {
    color: #fff;
    background: #EC5464;
    border-radius: .2rem;
    border: .05rem solid #EC5464;
    float: right
}

.puzzle-button a em {
    font-size: .6rem;
    margin: 0 .2rem
}

.puzzle-info {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: .38rem;
    overflow: hidden
}

.puzzle-info .puzzle-img {
    display: block;
    width: 5.7rem;
    height: 5.7rem;
    float: left
}

.puzzle-info .puzzle-img a {
    display: block;
    width: 5.7rem;
    height: 5.7rem;
    text-align: center
}

.puzzle-info .puzzle-img a img {
    max-height: 5.7rem;
    max-width: 5.7rem
}

.puzzle-info .puzzle-name {
    margin-left: 6rem
}

.puzzle-info .puzzle-name h5 {
    font-size: .65rem;
    line-height: .8rem;
    height: 1.6rem;
    overflow: hidden;
    word-break: break-all
}

.puzzle-info .puzzle-name .puzzle-original {
    margin-top: .5rem;
    position: relative;
    font-size: .5rem;
    border: .05rem solid #e4e4e4;
    border-radius: .2rem;
    height: 1.5rem;
    text-align: center;
    color: #999;
    margin-bottom: .5rem
}

.puzzle-info .puzzle-name .puzzle-original:last-child {
    margin-bottom: 0
}

.puzzle-info .puzzle-name .puzzle-original .puzzle-cost {
    font-size: .4rem;
    line-height: .9rem;
    margin-top: .5rem
}

.puzzle-info .puzzle-name .puzzle-original .puzzle-cost em {
    margin-left: .2rem;
    font-size: .6rem;
    font-weight: 600
}

.puzzle-info .puzzle-name .puzzle-original .puzzle-cost .cost-unit {
    margin-left: .2rem
}

.puzzle-info .puzzle-name .puzzle-original .yuan-price {
    font-weight: 600;
    position: absolute;
    top: -.4rem;
    left: 40%;
    padding: .1rem .5rem;
    background: #fff
}

.puzzle-goto,.puzzle-record,.puzzle-time {
    position: relative;
    z-index: 1
}

.puzzle-info .puzzle-name .puzzle {
    border-color: #EC5464
}

.puzzle-info .puzzle-name .puzzle .puzzle-cost em {
    color: #EC5464
}

.puzzle-info .puzzle-name .puzzle .yuan-price {
    color: #333
}

.puzzle-time {
    margin-top: .6rem;
    padding: .4rem 0;
    background: #fff
}

.puzzle-time p {
    text-align: center;
    line-height: 1rem;
    padding: .15rem 0;
    color: #333
}

.puzzle-time p.puzzle-number {
    font-size: .65rem;
    color: #333
}

.puzzle-time p.puzzle-number em {
    margin: 0 .2rem;
    color: #EC5464;
    font-weight: 600
}

.puzzle-time p.puzzle-number i {
    vertical-align: middle;
    width: .7rem;
    height: .7rem;
    background: url(../images/o-click.png) repeat-x;
    background-size: cover;
    display: inline-block;
    margin-right: .3rem;
    opacity: .85
}

.puzzle-time p.puzzle-Countdown {
    font-size: .55rem
}

.puzzle-time p.puzzle-Countdown em {
    background: #9c9c9c;
    color: #fff;
    display: inline-block;
    width: .6rem;
    height: .8rem;
    text-align: center;
    line-height: .8rem;
    border-radius: .1rem;
    margin: 0 .2rem;
    padding: 0 .1rem;
    font-size: .5rem
}

.puzzle-time p.puzzle-details {
    color: #348FE2;
    font-size: .55rem
}

.puzzle-time p.puzzle-details span {
    color: #999
}

.puzzle-goto {
    margin-top: .6rem;
    padding: .4rem 0;
    background: #fff
}

.puzzle-goto .goto-btn {
    width: 50%;
    font-size: .65rem;
    color: #fff;
    background: #EC5464;
    border-radius: .2rem;
    display: block;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    border: .05rem solid #EC5464;
    margin: .2rem auto
}

.puzzle-record h5,.puzzle-record ul li {
    border-bottom: .05rem #e4e4e4 solid;
    padding: .38rem
}

.puzzle-record {
    margin-top: .6rem;
    background: #fff
}

.puzzle-record h5 {
    height: .8rem;
    line-height: .8rem;
    color: #999;
    font-size: .65rem
}

.puzzle-record ul li {
    overflow: hidden
}

.puzzle-record ul li:last-child {
    border-bottom: 0
}

.puzzle-record ul li .record-img {
    float: left;
    width: 1.6rem;
    height: 1.6rem
}

.puzzle-record ul li .record-img a {
    width: 1.6rem;
    height: 1.6rem
}

.puzzle-record ul li .record-img a img {
    max-height: 1.6rem;
    max-width: 1.6rem;
    border-radius: 50%
}

.puzzle-record ul li .record-text {
    float: left;
    margin-left: .3rem
}

.puzzle-record ul li .record-text p {
    font-size: .5rem;
    line-height: .8rem;
    color: #999;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.puzzle-btn .invite-btn,.puzzle-btn .order-btn {
    width: 48%;
    font-size: .65rem;
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center
}

.puzzle-record ul li .record-text p em {
    color: #999;
    margin-right: .2rem
}

.puzzle-record ul li .record-text p.record {
    color: #333;
    font-weight: 600
}

.puzzle-btn {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: .38rem;
    border-top: .05rem #eee solid;
    z-index: 2
}

.puzzle-btn .invite-btn {
    color: #fff;
    background: #EC5464;
    border-radius: .2rem;
    border: .05rem solid #EC5464
}

.puzzle-btn .order-btn {
    color: #EC5464;
    background: #fff;
    border-radius: .2rem;
    border: .05rem solid #EC5464;
    float: right
}

#cover,#guide {
    display: none;
    position: absolute
}

button {
    width: 100%;
    text-align: center;
    border-radius: 3px
}

.button2 {
    font-size: 16px;
    padding: 8px 0;
    border: 1px solid #adadab;
    color: #000;
    background-color: #e8e8e8;
    background-image: linear-gradient(to top,#dbdbdb,#f4f4f4);
    background-image: -webkit-gradient(linear,0 100%,0 0,from(#dbdbdb),to(#f4f4f4));
    box-shadow: 0 1px 1px rgba(0,0,0,.45),inset 0 1px 1px #efefef;
    text-shadow: .5px .5px 1px #fff
}

.button2:active {
    background-color: #dedede;
    background-image: linear-gradient(to top,#cacaca,#e0e0e0);
    background-image: -webkit-gradient(linear,0 100%,0 0,from(#cacaca),to(#e0e0e0))
}

#mess_share {
    margin: 15px 0
}

#share_1 {
    float: left;
    width: 49%
}

#share_2 {
    float: right;
    width: 49%
}

#mess_share img {
    width: 22px;
    height: 22px
}

#cover {
    left: 0;
    top: 0;
    z-index: 18888;
    background-color: #000;
    opacity: .7
}

#guide {
    right: 18px;
    top: 5px;
    z-index: 19999
}

#guide img {
    width: 260px;
    height: 180px
}

.goods-detail-name {
    display: block;
    padding: .5rem .5rem .25rem;
    background-color: #FFF;
    border-top: solid .05rem #EEE
}

.goods-detail-name dt {
    display: block;
    font-size: .7rem;
    line-height: .85rem
}

.goods-detail-name dt span {
    display: inline-block;
    padding: 0 .15rem;
    border-radius: .1rem;
    margin-right: .1rem;
    background-color: #ff6700;
    color: #FFF;
    font-size: .6rem;
    line-height: .9rem;
    vertical-align: middle;
    height: .9rem
}

.goods-detail-name dd {
    margin-top: .15rem;
    font-size: .55rem;
    color: #777;
    line-height: .69rem
}

.goods-detail-price {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 .5rem;
    background-color: #FFF
}

.goods-detail-price dl {
    display: inline-block
}

.goods-detail-price dt {
    display: inline-block;
    font-size: .55rem;
    color: #ff6700;
    line-height: 1rem
}

.goods-detail-price dt em {
    font-size: 1rem
}

.goods-detail-price dd {
    display: inline-block;
    font-size: .55rem;
    text-decoration: line-through;
    color: #999;
    line-height: .9rem;
    vertical-align: baseline
}

.goods-detail-price dd em {
    font-size: .8rem
}

.goods-detail-price .activity {
    font-size: .45rem
}

.goods-detail-price .sold {
    position: absolute;
    z-index: 1;
    top: .25rem;
    right: .75rem;
    display: block;
    font-size: .55rem;
    line-height: 1rem;
    height: 1rem
}

.goods-detail-item .item-con dl.goods-detail-sel>dt,.goods-detail-item .itme-name {
    font-size: .6rem;
    line-height: .9rem
}

.goods-detail-price .activity {
    line-height: .6rem;
    vertical-align: middle;
    display: inline-block;
    height: .6rem;
    padding-right: .1rem;
    margin-top: .05rem;
    border: .05rem solid #ff6700;
    color: #ff6700
}

.goods-detail-price .activity i {
    display: inline-block;
    vertical-align: middle;
    margin-right: .1rem;
    width: .6rem;
    height: .6rem;
    background: url(../images/mobile_w.png) 50% 50% no-repeat #ff6700;
    background-size: 80%
}

.goods-detail-item {
    position: relative;
    z-index: 1;
    padding: .5rem;
    background: #FFF;
    border-bottom: solid .05rem #EEE
}

.goods-detail-item .itme-name {
    position: absolute;
    z-index: 1;
    top: .5rem;
    left: .5rem;
    display: block;
    width: 1.6rem;
    height: .9rem;
    color: #212121
}

.goods-detail-item .item-con {
    display: block;
    margin-left: 1.6rem
}

.goods-detail-item .item-con dl {
    display: block;
    line-height: .9rem
}

.goods-detail-item .item-con dl.goods-detail-sel {
    display: block
}

.goods-detail-item .item-con dl.goods-detail-sel>dt span {
    display: inline-block;
    margin: 0 .3rem 0rem 0;
    border: .01rem solid #CCC;
    line-height: .6rem;
    padding: .2rem .3rem .1rem;
    color: #777
}

.goods-detail-item .item-con dl.goods-detail-sel>dt span em {
    color: #333
}

.goods-detail-item .item-con dt {
    font-size: .55rem;
    color: #333
}

.goods-detail-item .item-con dd {
    font-size: .55rem;
    color: #212121
}

.item-more {
    position: absolute;
    z-index: -1;
    top: .4rem;
    right: 1rem;
    display: block;
    width: .8rem;
    height: .9rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    opacity: .4
}

.goods-detail-sale dd,.goods-detail-sale dt,.goods-detail-sale dt i {
    display: inline-block;
    vertical-align: top
}

.item-more.location {
    opacity: .55
}

.item-more i {
    font-size: 1rem;
    opacity: .55
}

.goods-detail-sale {
    position: relative;
    z-index: 1;
    margin-bottom: .4rem
}

.goods-detail-sale dt {
    margin-right: .1rem
}

.goods-detail-sale dt i {
    height: .7rem;
    padding: 0 .1rem;
    margin-top: .1rem;
    font-size: .45rem;
    color: #FFF;
    line-height: .7rem;
    background: #ff6700;
    border-radius: .15rem
}

.goods-detail-sale dd {
    font-size: .55rem;
    line-height: .9rem;
    color: #555
}

.goods-detail-sale dd.mansong-rule {
    display: block;
    margin-bottom: .1rem
}

.goods-detail-sale dd.mansong-rule em {
    font-weight: 600;
    color: #333
}

.goods-detail-sale dd.mansong-rule span {
    display: inline-block;
    vertical-align: middle;
    width: .8rem;
    height: .9rem
}

.goods-detail-sale dd.mansong-rule span img {
    width: 100%;
    height: 100%
}

.goods-detail-sale dd.gift-item {
    display: block;
    margin-bottom: .1rem
}

.goods-detail-sale dd.gift-item a {
    color: #555;
    text-decoration: underline
}

.goods-detail-sale dd.gift-item em {
    color: #333
}

.goods-detail-voucher {
    padding: .5rem
}

.goods-detail-voucher a {
    font-size: .6rem;
    color: #555;
    line-height: 1rem;
    display: block
}

.goods-detail-voucher i {
    display: inline-block;
    vertical-align: top;
    width: .4rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    padding: .1rem;
    margin: .2rem .2rem 0 0;
    font-size: .45rem;
    background-color: #ff6700;
    color: #FFF;
    border-radius: .1rem
}

.goods-detail-freight dt strong {
    color: #ff6700;
    margin-left: .5rem
}

.goods-detail-freight dd {
    line-height: .9rem;
    margin-top: .2rem
}

.goods-detail-o2o {
    padding: 0
}

.goods-detail-o2o .tit {
    display: block;
    overflow: hidden;
    height: .9rem;
    padding: .4rem
}

.goods-detail-o2o .tit h3 {
    float: left;
    font-size: .6rem;
    line-height: .9rem;
    color: #212121
}

.goods-detail-o2o .default {
    margin-left: .4rem;
    border-top: solid #EEE .05rem;
    position: relative;
    z-index: 1
}

.goods-detail-o2o .default a {
    display: block;
    margin-right: 3.5rem
}

.goods-detail-o2o .default dl {
    padding: .8rem 0
}

.goods-detail-o2o .default dt {
    display: block;
    font-size: .7rem;
    line-height: .9rem;
    font-weight: 600
}

.goods-detail-o2o .default dd {
    display: block;
    font-size: .6rem;
    line-height: .9rem;
    color: #555
}

.goods-detail-o2o .default p {
    position: absolute;
    z-index: 1;
    right: .5rem;
    top: .5rem;
    border-left: solid .05rem #EEE;
    padding-left: .5rem
}

.goods-detail-o2o .default p a {
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(../images/tel_b.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    opacity: .65;
    margin: 0
}

.goods-detail-o2o .more-location {
    border-top: solid #EEE .05rem;
    font-size: .6rem;
    line-height: .9rem;
    padding: .5rem;
    position: relative
}

.goods-detail-o2o .more-location a {
    display: block;
    color: #ff6700;
    font-weight: 600
}

.goods-detail-o2o .more-location i {
    position: absolute;
    z-index: 1;
    top: .5rem;
    right: 1rem;
    width: .8rem;
    height: .9rem;
    opacity: .4
}

.goods-detail-chain .default p a,.sstouch-o2o-list .chain a {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    opacity: .65;
    display: block
}

.goods-detail-chain {
    padding: 0
}

.goods-detail-chain .tit {
    display: block;
    overflow: hidden;
    height: .9rem;
    padding: .4rem
}

.goods-detail-chain .tit h3 {
    float: left;
    font-size: .6rem;
    line-height: .9rem;
    color: #888
}

.goods-detail-chain .default {
    margin-left: .4rem;
    border-top: solid #EEE .05rem;
    position: relative;
    z-index: 1
}

.goods-detail-chain .default a {
    display: block;
    margin-right: 3.5rem
}

.goods-detail-chain .default dl {
    padding: .8rem 0
}

.goods-detail-chain .default p,.sstouch-o2o-list .chain {
    border-left: solid .05rem #EEE;
    padding-left: .5rem;
    top: .5rem;
    z-index: 1
}

.goods-detail-chain .default dt {
    display: block;
    font-size: .7rem;
    line-height: .9rem;
    font-weight: 600
}

.goods-detail-chain .default dd {
    display: block;
    font-size: .6rem;
    line-height: .9rem;
    color: #555
}

.goods-detail-chain .default p {
    position: absolute;
    right: .5rem
}

.goods-detail-chain .default p a {
    width: 1.3rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0
}

.goods-detail-chain .default p a i {
    font-size: 1rem;
    color: #999
}

.goods-detail-chain .more-location {
    border-top: solid #EEE .05rem;
    font-size: .6rem;
    line-height: .9rem;
    padding: .5rem;
    position: relative
}

.goods-detail-chain .more-location a {
    display: block;
    color: #ED5564;
    font-weight: 600
}

.goods-detail-chain .more-location i {
    position: absolute;
    z-index: 1;
    top: .5rem;
    right: 1rem;
    width: .8rem;
    height: .9rem;
    font-size: 1rem;
    color: #999
}

.sstouch-o2o-list .chain {
    position: absolute;
    right: .5rem
}

.sstouch-o2o-list .chain a {
    width: 2rem;
    height: 2rem;
    line-height: 2rem
}

.sstouch-o2o-list .chain a i {
    font-size: 1rem;
    color: #999
}

.goods-detail-contract {
    padding-bottom: .5rem
}

.goods-detail-contract dt {
    display: block;
    height: .9rem;
    font-size: .6rem;
    line-height: .9rem;
    margin-bottom: .2rem;
    white-space: nowrap;
    overflow: hidden
}

.goods-detail-contract dd {
    display: block;
    font-size: 0
}

.goods-detail-contract dd span {
    display: inline-block;
    height: .65rem;
    margin-right: .5rem;
    font-size: .55rem;
    font-weight: 600;
    color: #ff6700;
    line-height: .65rem
}

.goods-detail-contract dd span i {
    display: block;
    width: .6rem;
    height: .6rem;
    float: left;
    margin-right: .1rem
}

.goods-detail-contract dd span i img {
    width: 100%;
    height: 100%
}

.goods-detail-comment {
    background-color: #FFF;
    padding: 0 .5rem;
    margin-top: .5rem;
    border-top: solid #EEE .05rem;
    border-bottom: solid #EEE .05rem
}

.goods-detail-comment .title {
    display: block
}

.goods-detail-comment .title a {
    display: block;
    position: relative;
    z-index: 1;
    height: .9rem;
    padding: .5rem 0;
    font-size: .6rem;
    line-height: .9rem;
    color: #212121
}

.goods-detail-comment .title span {
    font-size: .55rem;
    margin-left: 1rem;
    color: #ff6700
}

.goods-detail-comment .title span em {
    font-size: .6rem;
    font-weight: 600;
    margin-left: .2rem
}

.goods-detail-comment .title .rate-num {
    position: absolute;
    z-index: 1;
    top: .5rem;
    right: 1rem;
    color: #212121;
    font-size: .55rem
}

.goods-detail-comment .title .item-more {
    right: 0
}

.goods-detail-comment dl {
    display: block;
    padding-bottom: .4rem;
    border-top: solid .05rem #EEE
}

.goods-detail-comment dt {
    display: block;
    height: .9rem;
    padding: .4rem 0 .2rem;
    line-height: .9rem;
    overflow: hidden
}

.goods-detail-comment dt .goods-raty {
    display: block;
    float: left;
    width: 3rem;
    height: .5rem;
    font-size: 0
}

.goods-detail-comment dt .goods-raty i {
    display: inline-block;
    height: .5rem;
    background-image: url(../images/star_r.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain
}

.goods-detail-comment dt .goods-raty i.star1 {
    width: .5rem
}

.goods-detail-comment dt .goods-raty i.star2 {
    width: 1rem
}

.goods-detail-comment dt .goods-raty i.star3 {
    width: 1.5rem
}

.goods-detail-comment dt .goods-raty i.star4 {
    width: 2rem
}

.goods-detail-comment dt .goods-raty i.star5 {
    width: 2.5rem
}

.goods-detail-comment dt .user-name {
    float: right;
    color: #555;
    font-size: .55rem
}

.goods-detail-comment dt time {
    float: right;
    width: 3rem;
    text-align: right;
    color: #212121;
    font-size: .55rem
}

.goods-detail-comment dd {
    display: block;
    font-size: .55rem;
    line-height: .7rem
}

.goods-detail-store {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 .5rem;
    margin: .5rem 0;
    background: #FFF;
    border: solid #EEE;
    border-width: .05rem
}

.goods-detail-store .store-name {
    height: .9rem;
    padding: .5rem 0;
    font-size: .7rem;
    line-height: .9rem;
    color: #333
}

.goods-detail-store .store-name .icon-store {
    display: inline-block;
    width: .8rem;
    height: .9rem;
    vertical-align: top;
    margin-right: .2rem;
    background-image: url(../images/store_b.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    opacity: .75
}

.goods-detail-store .store-name .icon-mall {
    color: #ff6700;
    font-size: .55rem;
    margin-left: .5rem
}

.goods-detail-store .store-rate {
    height: .7rem;
    padding: .4rem 0 .5rem;
    border-top: solid .05rem #EEE;
    font-size: 0
}

.goods-detail-store .store-rate span {
    display: inline-block;
    width: 33.33%;
    height: .7rem;
    font-size: .55rem;
    line-height: .7rem;
    color: #212121
}

.goods-detail-store .store-rate span em {
    display: inline-block;
    vertical-align: middle;
    font-size: .7rem;
    font-weight: 600
}

.goods-detail-store .store-rate span i {
    display: inline-block;
    vertical-align: middle;
    width: .7rem;
    height: .7rem;
    font-size: .45rem;
    line-height: .7rem;
    font-style: normal;
    text-align: center;
    border-radius: .1rem
}

.goods-detail-store .store-rate span.equal em,.goods-detail-store .store-rate span.high em {
    color: #ff6700
}

.goods-detail-store .store-rate span.equal i,.goods-detail-store .store-rate span.high i {
    color: #FFF;
    background-color: #ff6700
}

.goods-detail-store .store-rate span.low em {
    color: #48CFAE
}

.goods-detail-store .store-rate span.low i {
    color: #FFF;
    background-color: #48CFAE
}

.goods-detail-recom {
    background: #FFF;
    padding: 0 0 0 .5rem;
    margin: .5rem 0;
    border: solid #EEE;
    border-width: .05rem;
    overflow: hidden
}

.goods-detail-recom h4 {
    display: block;
    height: .9rem;
    padding: .4rem 0;
    font-size: .6rem;
    color: #212121;
    line-height: .9rem
}

.goods-detail-recom ul {
    font-size: 0
}

.goods-detail-recom ul li {
    display: inline-block;
    width: 22%;
    margin: 0 3% .4rem 0
}

.goods-detail-recom ul li a {
    display: block
}

.goods-detail-recom .pic {
    display: block;
    width: 3.225rem;
    height: 3.225rem;
    border: .05rem solid #EEE
}

.goods-detail-recom .pic img {
    display: block;
    width: 100%;
    height: 100%
}

.goods-detail-recom dl {
    margin-top: .2rem
}

.goods-detail-recom dt {
    display: block;
    overflow: hidden;
    height: 1.2rem;
    font-size: .5rem;
    line-height: .6rem;
    color: #777;
    margin-bottom: .2rem
}

.goods-detail-recom dd {
    font-size: .45rem;
    color: #333
}

.goods-detail-recom dd em {
    font-size: .55rem
}

.goods-options-info {
    min-height: 3rem
}

.goods-options-info .goods-pic {
    position: absolute;
    z-index: 1;
    top: .5rem;
    left: .5rem;
    width: 3rem;
    height: 3rem;
    background: #FFF
}

.goods-options-info .goods-pic img {
    width: 100%;
    height: 100%
}

.goods-options-info dl {
    margin-left: 4rem
}

.goods-options-info dt {
    font-size: .6rem;
    line-height: .75rem;
    margin: .2rem .6rem .4rem 0
}

.goods-options-info .goods-price {
    height: 1rem;
    font-size: .55rem;
    color: #ff6700;
    font-weight: 600;
    line-height: 1rem
}

.goods-options-info .goods-price em {
    font-size: .66rem
}

.goods-options-info .goods-price .activity {
    display: inline-block;
    height: .7rem;
    vertical-align: top;
    padding: 0 .1rem;
    margin: .14rem 0 0 .1rem;
    font-size: .45rem;
    line-height: .7rem;
    font-weight: lighter;
    color: #FFF;
    background-color: #ff6700;
    border-radius: .1rem
}

.goods-options-info .goods-storage {
    display: block;
    float: right;
    font-size: .5rem;
    line-height: 1rem;
    color: #212121
}

.goods-options-stock {
    padding: .25rem .5rem
}

.goods-options-stork dl {
    display: block;
    overflow: hidden
}

.goods-options-stock dt {
    display: block;
    height: .9rem;
    padding: .1rem 0;
    font-size: .6rem;
    color: #212121;
    line-height: .9rem
}

.goods-options-stock dd {
    display: block;
    font-size: 0rem
}

.goods-options-stock dd a {
    display: inline-block;
    height: .9rem;
    padding: .25rem .5rem;
    margin-left: .3rem;
    margin-bottom: .3rem;
    font-size: .55rem;
    color: #212121;
    line-height: .9rem;
    background: #FFF;
    border: .05rem solid #BBB;
    border-radius: .15rem
}

.goods-options-stock dd a:first-child {
    margin-left: 0
}

.goods-options-stock dd a.current {
    padding: .28rem .53rem;
    color: #FFF;
    background: #ff6700;
    border: none
}

.goods-option-value {
    display: block;
    height: 1.2rem;
    padding: .5rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
    font-size: .6rem;
    color: #999;
    border-top: solid .05rem #EEE
}

.goods-detail-bottom {
    margin: .5rem 0 2.5rem;
    text-align: center
}

.goods-detail-bottom a {
    display: inline-block;
    width: 100%;
    height: 1rem;
    margin: 0 auto;
    font-size: .6rem;
    line-height: 1rem;
    color: #999
}

.goods-detail-foot {
    position: fixed;
    z-index: 1;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#F2F5F5F5', endColorstr='#F2F5F5F5');
    background: rgba(245,245,245,.95)
}

.goods-option-foot {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0
}

.goods-detail-foot .otreh-handle,.goods-option-foot .otreh-handle {
    float: left;
    width: 35%;
    font-size: 0
}

.goods-detail-foot .otreh-handle a,.goods-option-foot .otreh-handle a {
    position: relative;
    z-index: auto;
    display: inline-block;
    height: 1.95rem;
    text-align: center;
    color: #333;
    border-top: solid .05rem #DDD
}

.goods-detail-foot .otreh-handle a.kefu,.goods-option-foot .otreh-handle a.kefu {
    width: 44%
}

.goods-detail-foot .otreh-handle a.cart,.goods-option-foot .otreh-handle a.cart {
    width: 55%;
    border-left: solid .05rem #DDD
}

.goods-detail-foot .otreh-handle a i,.goods-option-foot .otreh-handle a i {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    margin: .15rem auto .05rem;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    opacity: .65
}

.goods-detail-foot .otreh-handle a.kefu i,.goods-option-foot .otreh-handle a.kefu i {
    background-image: url(../images/kefu_b.png)
}

.goods-detail-foot .otreh-handle a.cart i,.goods-option-foot .otreh-handle a.cart i {
    background-image: url(../images/cart_b.png)
}

.goods-detail-foot .otreh-handle a p,.goods-option-foot .otreh-handle a p {
    display: block;
    height: .8rem;
    font-size: .55rem;
    line-height: .8rem;
    overflow: hidden;
}

.goods-detail-foot .otreh-handle a sup,.goods-option-foot .otreh-handle a sup {
    position: absolute;
    z-index: 1;
    top: .1rem;
    right: .5rem;
    min-width: .5rem;
    height: .5rem;
    font-size: .45rem;
    line-height: .5rem;
    color: #ff6700;
    text-align: center;
    border: .05rem solid #ff6700;
    border-radius: .3rem
}

.goods-detail-foot .buy-handle,.goods-option-foot .buy-handle {
    float: right;
    width: 65%;
    font-size: 0
}

.goods-detail-foot .buy-handle a,.goods-option-foot .buy-handle a {
    display: block;
    height: 2rem;
    font-size: .7rem;
    font-weight: 600;
    line-height: 2rem;
    color: #FFF;
    text-align: center
}

.goods-detail-foot .no-buy a,.goods-option-foot .no-buy a {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    opacity: .8
}

.goods-detail-foot .buy-handle a.add-cart,.goods-option-foot .buy-handle a.add-cart,.buy-handle a.alone-now {
    float: right;
    width: 55%;
    background-color: #FB6E52
}

.goods-detail-foot .buy-handle a.buy-now,.goods-detail-foot .buy-handle a.group-now,.goods-option-foot .buy-handle a.buy-now,.goods-option-foot .buy-handle a.group-now {
    background-color: #ff6700
}

.fixed-tab-pannel {
    min-width: 320px;
    overflow: hidden
}

.fixed-tab-pannel embed[type="application/x-shockwave-flash"] {
    display: none
}

.fixed-tab-pannel div,.fixed-tab-pannel p,.fixed-tab-pannel table {
    width: 100%!important;
    font-size: .6rem!important
}

.fixed-tab-pannel p {
    margin: 5px
}

.fixed-tab-pannel img {
    width: 100%!important;
    height: auto!important
}

.product-eval-list li {
    padding: 0 0 .5rem .5rem;
    margin-bottom: .25rem;
    background-color: #FFF
}

.product-eval-list .eval-user {
    position: relative;
    z-index: 1;
    display: block;
    height: 2rem;
    border-bottom: solid #EEE .05rem
}

.product-eval-list .eval-user .user-avatar {
    position: absolute;
    z-index: 1;
    top: .35rem;
    left: 0;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border: .05rem solid #EEE
}

.product-eval-list .eval-user .user-avatar img {
    width: 100%;
    height: 100%
}

.product-eval-list .eval-user .user-name {
    display: block;
    height: 1rem;
    margin: 0 0 0 2rem;
    padding: .5rem 0;
    font-size: .6rem;
    line-height: 1rem
}

.product-eval-list .eval-user time {
    position: absolute;
    z-index: 1;
    top: .5rem;
    right: .5rem;
    height: 1rem;
    font-size: .55rem;
    color: #BBB;
    line-height: 1rem
}

.product-eval-list .goods-raty {
    display: block;
    height: .5rem;
    padding: .5rem 0 0;
    font-size: 0
}

.product-eval-list .goods-raty i {
    display: inline-block;
    height: .5rem;
    background-image: url(../images/star_r.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain
}

.product-eval-list .goods-raty i.star1 {
    width: .5rem
}

.product-eval-list .goods-raty i.star2 {
    width: 1rem
}

.product-eval-list .goods-raty i.star3 {
    width: 1.5rem
}

.product-eval-list .goods-raty i.star4 {
    width: 2rem
}

.product-eval-list .goods-raty i.star5 {
    width: 2.5rem
}

.product-eval-list .eval-con {
    padding: .2rem 0
}

.product-eval-list .eval-con dt {
    display: block;
    min-height: .9rem;
    margin: .2rem 0 .4rem;
    font-size: .6rem;
    line-height: .9rem
}

.product-eval-list .eval-con dd {
    display: block;
    font-size: 0
}

.product-eval-list .eval-con dd a {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    border: .05rem solid #EEE;
    margin-right: .4rem
}

.product-eval-list .eval-con dd a img {
    max-width: 1.6rem;
    max-height: 1.6rem
}

.product-eval-list .again-eval {
    height: .9rem;
    margin-top: .2rem;
    font-size: .55rem;
    line-height: .9rem;
    color: #555
}

.product-eval-list .eval-explain {
    font-size: .6rem;
    color: #ff6700;
    line-height: .8rem;
    padding: .5rem 0
}